---
import '@/styles/globals.css'
import Layout from "../layouts/Layout.astro";
import {CityFinder} from "../components/CityFinder";
---

<Layout title="Home">
    <main>
        <CityFinder client:load/>
    </main>
</Layout>
